.header {
    display: flex;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-top: 10px;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header-icon {
    width: 25px;
    height: 25px;
}

.header-info {
    width: 420px;
    height: 65px;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.header-info>div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.header-info>div>span {
    font-size: 14px;
    letter-spacing: 0.2px;
}

.title {
    font-size: 18px;
    line-height: 22px;
    color: grey;
    border-radius: 4px;
    margin-top: 5px;
}

.header-info>span:first-of-type {
    display: flex;
    justify-content: flex-start;
}

.star {
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    margin-top: 5px;

}

.header-right {
    display: flex;
    width: 300px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin-left: 40%;
    margin-top: 10px;
}

.header-right>div:first-of-type {
    height: 30px;
}

.header-right>div:last-of-type {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c2e7ff;
    color: #001d35;
    font-weight: 600;
    border-radius: 100px;
    font-size: 14px;
    line-height: 20;
    letter-spacing: 0.25px;
}

.lock {
    width: 20px;
    margin-right: 5px;

}


/* //////////////////////////////////////////////////////// */

/* Tools section  */

/* Tool1 //////////////////////////////// */

.tool-section {
    background-color: #edf2fa;
    border-radius: 100px;
    padding: 0 10px;
    height: 40px;
    width: 97vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.tool1 {
    display: flex;
    width: 250px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: #1f1f1f;

}

.icon {
    width: 20px;
    height: 20px;

}

.tool1>.extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
}

.line {
    height: 20px;
    border: 1px solid #1f1f1f;
    margin: 0 5px 0 5px;
}


/* Tool2 //////////////////////// */

.tool2{
    margin-left: 5px;
    display: flex;
    width: 230px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: #1f1f1f;
}
.tool2>.extra:first-of-type{
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.tool2>.extra2{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}


